In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 43.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.5.0-py3-none-any.whl (305 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.4/305.4 kB 35.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.5.0 pymongo-4.6.1

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.hzt53el.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
print(db)

Database(MongoClient(host=['ac-p5xtytz-shard-00-01.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-00.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-02.hzt53el.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v6bg8h-shard-0', tls=True), 'test')

# CREATION OF DATABASE

In [7]:
# Creation of connection string
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.hzt53el.mongodb.net/?retryWrites=true&w=majority")
# creation of database
db = client['pwskills']

In [8]:
print(db)

Database(MongoClient(host=['ac-p5xtytz-shard-00-01.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-00.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-02.hzt53el.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v6bg8h-shard-0', tls=True), 'pwskills')

In [9]:
# To create th collection inside the database
collection_table = db['my_record']

In [10]:
print(collection_table)

Collection(Database(MongoClient(host=['ac-p5xtytz-shard-00-01.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-00.hzt53el.mongodb.net:27017', 'ac-p5xtytz-shard-00-02.hzt53el.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v6bg8h-shard-0', tls=True), 'pwskills'), 'my_record')

In [11]:
# Creation of first document inside the collection
data = {
    "name" : "parag"  ,
    "class" : "data science masters" ,
    "timing" : "flexi"
}

In [12]:
print(data)

{'name': 'parag', 'class': 'data science masters', 'timing': 'flexi'}

In [13]:
# Inserting the first record(document) inside the collection
collection_table.insert_one(data)

InsertOneResult(ObjectId('65bf281da230b22948313bca'), acknowledged=True)

In [14]:
# Inserting another record in the collection
data1 = {
    "mail_id" : "paragpujari95@gmail.com" ,
    "phone_number" : 7978304194
}

In [15]:
collection_table.insert_one(data1)

InsertOneResult(ObjectId('65bf2986a230b22948313bcb'), acknowledged=True)

In [16]:
# Another record in MongoDB
data2 = {"list_course" : ["data science masters","web dev" , "java with DSA"], "mentor" : ["sudhanshu","anurag","hyder"]}

In [17]:
collection_table.insert_one(data2)

InsertOneResult(ObjectId('65bf2a48a230b22948313bcc'), acknowledged=True)

In [18]:
# Inserting multiple records in the collection
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [19]:
collection_table.insert_many(data3)

InsertManyResult([ObjectId('65bf2af9a230b22948313bcd'), ObjectId('65bf2af9a230b22948313bce'), ObjectId('65bf2af9a230b22948313bcf'), ObjectId('65bf2af9a230b22948313bd0'), ObjectId('65bf2af9a230b22948313bd1'), ObjectId('65bf2af9a230b22948313bd2'), ObjectId('65bf2af9a230b22948313bd3'), ObjectId('65bf2af9a230b22948313bd4'), ObjectId('65bf2af9a230b22948313bd5'), ObjectId('65bf2af9a230b22948313bd6'), ObjectId('65bf2af9a230b22948313bd7'), ObjectId('65bf2af9a230b22948313bd8')], acknowledged=True)

In [20]:
data4 = {"name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
        }

In [21]:
collection_table.insert_one(data4)

InsertOneResult(ObjectId('65bf2b4aa230b22948313bd9'), acknowledged=True)

In [22]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [23]:
# Insert multiple records inside the collection
collection_table.insert_many(list_of_records)

InsertManyResult([ObjectId('65bf2bbba230b22948313bda'), ObjectId('65bf2bbba230b22948313bdb'), ObjectId('65bf2bbba230b22948313bdc')], acknowledged=True)

In [24]:
# To display all the records stored in the database
for i in collection_table.find():
    print(i)

{'_id': ObjectId('65bf281da230b22948313bca'), 'name': 'parag', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65bf2986a230b22948313bcb'), 'mail_id': 'paragpujari95@gmail.com', 'phone_number': 7978304194}
{'_id': ObjectId('65bf2a48a230b22948313bcc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('65bf2af9a230b22948313bcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65bf2af9a230b22948313bce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65bf2af9a230b22948313bcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65bf2af9a230b22948313bd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65bf2af9a230b22948313bd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65bf2af9a230b22948313bd3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65bf2af9a230b22948313bd4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65bf2af9a230b22948313bd6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65bf2af9a230b22948313bd7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65bf2af9a230b22948313bd8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65bf2b4aa230b22948313bd9'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65bf2bbba230b22948313bda'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65bf2bbba230b22948313bdb'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65bf2bbba230b22948313bdc'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [25]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [26]:
collection_table.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [27]:
for i in collection_table.find():
    print(i)

{'_id': ObjectId('65bf281da230b22948313bca'), 'name': 'parag', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65bf2986a230b22948313bcb'), 'mail_id': 'paragpujari95@gmail.com', 'phone_number': 7978304194}
{'_id': ObjectId('65bf2a48a230b22948313bcc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('65bf2af9a230b22948313bcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65bf2af9a230b22948313bce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65bf2af9a230b22948313bcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65bf2af9a230b22948313bd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65bf2af9a230b22948313bd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65bf2af9a230b22948313bd3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65bf2af9a230b22948313bd4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65bf2af9a230b22948313bd6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65bf2af9a230b22948313bd7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65bf2af9a230b22948313bd8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65bf2b4aa230b22948313bd9'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65bf2bbba230b22948313bda'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65bf2bbba230b22948313bdb'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65bf2bbba230b22948313bdc'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [28]:
# Fetch the first record from the database
collection_table.find_one()

{'_id': ObjectId('65bf281da230b22948313bca'),
 'name': 'parag',
 'class': 'data science masters',
 'timing': 'flexi'}

In [30]:
# Find all the records whose company name is ineuron
for i in collection_table.find({"companyName" : "iNeuron"}):
    print(i)

{'_id': ObjectId('65bf2bbba230b22948313bda'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65bf2bbba230b22948313bdb'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65bf2bbba230b22948313bdc'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [34]:
# Fetch all the records whose id is greater than or equals to  4
for i in collection_table.find({'_id' : {'$gte' : '4' }}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [36]:
# update all the company names of iNeuron to pwskills
collection_table.update_many({'companyName': 'iNeuron'}, {"$set" : {'companyName': 'pwskills'}})

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff0000000000000161'), 'opTime': {'ts': Timestamp(1707028421, 31), 't': 353}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1707028421, 31), 'signature': {'hash': b'\xbeig0\xc3\x86_\t\x96\xd6\x06\xb6\xa7\xab9K\xaet\x18\xba', 'keyId': 7279146268733997062}}, 'operationTime': Timestamp(1707028421, 31), 'updatedExisting': True}, acknowledged=True)

In [37]:
for i in collection_table.find():
    print(i)

{'_id': ObjectId('65bf281da230b22948313bca'), 'name': 'parag', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65bf2986a230b22948313bcb'), 'mail_id': 'paragpujari95@gmail.com', 'phone_number': 7978304194}
{'_id': ObjectId('65bf2a48a230b22948313bcc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('65bf2af9a230b22948313bcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65bf2af9a230b22948313bce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65bf2af9a230b22948313bcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65bf2af9a230b22948313bd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65bf2af9a230b22948313bd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65bf2af9a230b22948313bd3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65bf2af9a230b22948313bd4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65bf2af9a230b22948313bd5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65bf2af9a230b22948313bd6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65bf2af9a230b22948313bd7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65bf2af9a230b22948313bd8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65bf2b4aa230b22948313bd9'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65bf2bbba230b22948313bda'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65bf2bbba230b22948313bdb'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65bf2bbba230b22948313bdc'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [38]:
collection_table.drop()

In [39]:
for i in collection_table.find():
    print(i)