In [1]:
# import all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# declare the corpus
corpus = np.array(["John saw the train",
                     "The train was late",
                     "Max and Rob took the bus",
                     "I looked for Max and Rob at the bus station",
                     "Max and Rob arrived at the bus station early but waited until noonfor the bus"])

In [3]:
print(corpus)

['John saw the train' 'The train was late' 'Max and Rob took the bus'
 'I looked for Max and Rob at the bus station'
 'Max and Rob arrived at the bus station early but waited until noonfor the bus']

In [4]:
# create the object for Tfidfvectorizer
tfidf = TfidfVectorizer(use_idf = True)

# using the object for tfidf , transform the data
vectorized_array = tfidf.fit_transform(corpus)

In [5]:
vectorized_array.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.58946308, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.58946308, 0.        ,
        0.28088232, 0.        , 0.4755751 , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.58946308, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28088232, 0.        , 0.4755751 , 0.        , 0.        ,
        0.58946308],
       [0.38530481, 0.        , 0.        , 0.38530481, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.38530481, 0.        , 0.38530481, 0.        , 0.        ,
        0.27414755, 0.57532941, 0.        , 0.        , 0.        ,
        0.        ],
       [0.29027651, 0.        , 0.34969268, 0.29027651, 0.        ,
        0.        , 0.43343506, 0.        , 0.        , 0.43343506,
        0.29027651, 0.        , 0.29027651, 0.        , 0.34969268,
        0.20653413, 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.19879089, 0.29683057, 0.23948103, 0.39758178, 0.29683057,
        0.29683057, 0.        , 0.        , 0.        , 0.        ,
        0.19879089, 0.29683057, 0.19879089, 0.        , 0.23948103,
        0.28288271, 0.        , 0.        , 0.29683057, 0.29683057,
        0.        ]])

In [6]:
# extract all the features names
feature_names = tfidf.get_feature_names()

print(feature_names)

['and', 'arrived', 'at', 'bus', 'but', 'early', 'for', 'john', 'late', 'looked', 'max', 'noonfor', 'rob', 'saw', 'station', 'the', 'took', 'train', 'until', 'waited', 'was']

In [7]:
# create the dataframe from the tfidf vectorized array
pd.DataFrame(vectorized_array.toarray(),columns = feature_names)

,and,arrived,at,bus,but,early,for,john,late,looked,...,noonfor,rob,saw,station,the,took,train,until,waited,was
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.589463,0.000000,0.000000,...,0.000000,0.000000,0.589463,0.000000,0.280882,0.000000,0.475575,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.589463,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.280882,0.000000,0.475575,0.000000,0.000000,0.589463
2,0.385305,0.000000,0.000000,0.385305,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.385305,0.000000,0.000000,0.274148,0.575329,0.000000,0.000000,0.000000,0.000000
3,0.290277,0.000000,0.349693,0.290277,0.000000,0.000000,0.433435,0.000000,0.000000,0.433435,...,0.000000,0.290277,0.000000,0.349693,0.206534,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.198791,0.296831,0.239481,0.397582,0.296831,0.296831,0.000000,0.000000,0.000000,0.000000,...,0.296831,0.198791,0.000000,0.239481,0.282883,0.000000,0.000000,0.296831,0.296831,0.000000