# Python Operators

Logical
Equality
Comparision
Arithmetic

# 4.1.1 Logical Operators
In python following keywords are used for boolean operations -

                                                   Keywords	            Meaning
                                                   not	                unary negation
                                                   and	                conditional AND
                                                   or	                conditional OR

In [1]:
type(False)

bool

In [2]:
bool(1)

True

In [3]:
a = True
b = False

In [4]:
True and False

False

In [5]:
True or False

True

In [6]:
not False

True

In [8]:
age=int(input("Enter the age"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age89
Successful execution

# Equality Operators

# Following operations are present in python for equlity check operation-

                    Operators 	Meaning
                     is     	*a is b* returns true if variable/identifiers a and b points to the same object
                     is not	    *a is not b* returns true if variable/identifiers a and b points to the different object
                     ==        	*a == b* returns true if variable/identifiers a and b has same value
                     !=        	*a != b* returns true if variable/identifiers a and b has different value

In [9]:
a = "Krish"
b = "Krish1"

a == b

False

In [11]:

age=int(input("Enter the age"))

if age==18:
    print("You are in the teenager age")

Enter the age18
You are in the teenager age

In [12]:
a="Krish"
b="Krish"
print(id(a))
print(id(b))

1454874895216
1454874895216

In [13]:
print(a == b)

True

In [14]:
print(a != b)

False

In [15]:
print(a is b)

True

In [16]:
print(a is not b)

False

In [17]:
print(a == b)
print(id(a) == id(b))

True
True

In [19]:
print(a is b)
print(id(a) is not id(b))

True
True

In [20]:
print(a)
print(b)

Krish
Krish

In [21]:
print(id(a)) # same memory object pointed by a and b or not
print(id(b))

1454874895216
1454874895216

In [22]:
a is b # this a and b points to the same memory address

True

In [23]:
lst=[1,2,3]
lst1=[1,2,3]

In [24]:
a = id(lst)
b = id(lst1)

In [25]:
print(a)
print(b)

1454874608896
1454873194560

In [26]:
print(lst == lst1)

True

In [27]:
print(lst is lst1)

False

In [28]:
print(lst is not lst1)

True

# comparison operators
                          Operation 	Meaning
                                  < 	less than
                                  <=	less than or equal to
                                  > 	greater than
                                  >=	greater than or equal to

In [29]:
marks= float(input("Enter the marks"))

if marks>=35:
    print("Pass")
    if marks>=50 and marks<=70:
        print("First")
elif marks<35:
    print("Fail")

Enter the marks74
Pass

# Arithmetic Operators
                               Operation    	Meaning
                                       +    	addition
                                       -    	subtraction
                                       *****	multiplication
                                           /	true division
                                          //	integer division
                                           %	the modulo operator

In [30]:
k = 90
j = 10

In [31]:
print(k + j)

100

In [32]:
print(k - j)

80

In [33]:
print(k * j)

900

In [34]:
print(k / j)

9.0

In [35]:
print(k // j)

9

In [36]:
print(k % j)

0