# Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [1]:
##mutable vs immutable
str1="Krish"
print(str1)
type(str1)

Krish

str

In [2]:
str1 = "Naik"
print(str1)

Naik

In [3]:
##string are immutable
str1[2] = "jk"

TypeError: 'str' object does not support item assignment

In [4]:
# Indexing in Strings
str1[0]

'N'

In [5]:
##Lists
##mutable

lst=[1,2,3,4,"Krish","Helllo"]
print(lst)
print(type(lst))

[1, 2, 3, 4, 'Krish', 'Helllo']
<class 'list'>

In [6]:
lst[4] = "Naik"

In [7]:
print(lst[4])

Naik

In [8]:
lst = list()
print(lst)
print(type(lst))

[]
<class 'list'>

In [9]:
lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [10]:
# length of the list
len(lst)

5

In [11]:
max(lst)

5

In [12]:
min(lst)

1

# OPEARTIONS OF LISTS

In [13]:
lst = [1,2,3,4,5]

In [14]:
# 1. append() = It adds the element to the end of the lists.
lst.append("Krish")

In [15]:
print(lst)

[1, 2, 3, 4, 5, 'Krish']

In [16]:
lst.append(["John", "Bala"])

In [17]:
print(lst)

[1, 2, 3, 4, 5, 'Krish', ['John', 'Bala']]

In [18]:
print(lst[6][0])

John

In [19]:
print(lst[6][1])

Bala

In [20]:
# Indexing in lists
lst[3:]

[4, 5, 'Krish', ['John', 'Bala']]

In [21]:
lst[2:6]

[3, 4, 5, 'Krish']

In [22]:
# 2. insert() = It adds the element at the specific position in the list.
lst.insert(2,"Naik")

In [23]:
print(lst)

[1, 2, 'Naik', 3, 4, 5, 'Krish', ['John', 'Bala']]

In [24]:
# 3. extend() = It adds more than one element at the end of the lists.
print(lst)

[1, 2, 'Naik', 3, 4, 5, 'Krish', ['John', 'Bala']]

In [25]:
lst.append([9,10])

In [26]:
lst

[1, 2, 'Naik', 3, 4, 5, 'Krish', ['John', 'Bala'], [9, 10]]

In [27]:
lst.extend([9,10])

In [28]:
print(lst)

[1, 2, 'Naik', 3, 4, 5, 'Krish', ['John', 'Bala'], [9, 10], 9, 10]

# Various Operations that we can perform in List

In [29]:
lst=[1,2,3,4,5]

In [30]:
print(sum(lst))

15

In [31]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [32]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

# Pop()

In [33]:
lst.pop()

5

In [34]:
print(lst)

[1, 2, 3, 4]

In [35]:
lst.pop(0)

1

In [36]:
lst

[2, 3, 4]

In [37]:
lst.pop(2)

4

In [38]:
lst

[2, 3]

# count():Calculates total occurrence of given element of List

In [39]:
lst=[1,1,2,3,4,5]
print(lst.count(1))

2

In [40]:
#length:Calculates total length of List
len(lst)

6

In [41]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [42]:
##Min and Max
min(lst)

1

In [43]:
max(lst)

5

# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empy set
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [2]:
s1 = {1}
print(s1)
print(type(s1))

{1}
<class 'set'>

In [3]:
l = [1,2,3,4,5] # list
# convert the list into set
s = set(l)
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
# Removes the duplication of elements
sets = {1,2,2,3,4,5,5,5,5}
print(sets)
print(type(sets))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
set_var = {"Avengers", "Ironman", "HitMan"}
print(set_var)
print(type(set_var))

{'Ironman', 'HitMan', 'Avengers'}
<class 'set'>

In [6]:
# sets are unordered and it cannot be indexed
print(set_var[0])

TypeError: 'set' object is not subscriptable

In [7]:
# Sets can be iterable
for i in set_var:
    print(i)

Ironman
HitMan
Avengers

In [8]:
# Sets are ordered collection and automatically orderes it an ordered way.
set_var.add("Hulk")

In [9]:
set_var

{'Avengers', 'HitMan', 'Hulk', 'Ironman'}

In [10]:
set_var.add("Krish")

In [11]:
set_var

{'Avengers', 'HitMan', 'Hulk', 'Ironman', 'Krish'}

In [12]:
set_1 = set([4,2,1,3,5])
print(set_1)

{1, 2, 3, 4, 5}

In [16]:
set_1.add(0)
print(set_1)

{0, 1, 2, 3, 4, 5, 6}

In [17]:
set_1.add(6)
print(set_1)

{0, 1, 2, 3, 4, 5, 6}

In [18]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [19]:
# union
set1.union(set2)

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [20]:
# intersection
set1.intersection(set2)

{'Avengers', 'Hitman', 'IronMan'}

In [21]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [22]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [24]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [26]:
set2.intersection_update(set1)

In [27]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [30]:
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [31]:
# Difference
set1.difference(set2)

set()

In [32]:
set2.difference(set1)

{'Hulk2'}

In [33]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [34]:
set2.difference_update(set1)

In [35]:
set2

{'Hulk2'}

In [36]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [37]:
set2.issuperset(set1)

True

In [38]:
set1.issuperset(set2)

False

In [39]:
set1.issubset(set2)

True

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
type({})

dict

In [2]:
type({1})

set

In [3]:
# empty dictionary
type(dict({}))

dict

In [4]:
# dictionary with elements
dicti = {1:"Krish"}
print(type(dicti))

<class 'dict'>

In [5]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
print(my_dict)
print(type(my_dict))

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}
<class 'dict'>

In [6]:
dict(name = "Parag", age = "28")

{'name': 'Parag', 'age': '28'}

In [7]:
##Access the item values based on keys
my_dict["Car3"]

'Mercidies Benz'

In [8]:
my_dict["Car2"]

'BMW'

In [9]:
my_dict["Car1"]

'Audi'

In [10]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [11]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [12]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [17]:
# We can even loop throught the dictionaries keys
for i in my_dict.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [18]:
for i in my_dict.keys():
    print(i)

Car1
Car2
Car3

In [19]:
for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [20]:
## Adding items in Dictionaries
my_dict['Car4'] = 'Audi 2.0'
print(my_dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [21]:
my_dict['Car1'] = 'Maruti'

In [22]:
print(my_dict)

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

# Nested Dictionary

In [23]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type = {'car1' : car1_model, 'car2' : car2_model, 'car3' : car3_model}

In [24]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [26]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [27]:
# create an empty tuple
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [28]:
my_tuple = ("Krish","Ankur", "John")
print(my_tuple)
print(type(my_tuple))

('Krish', 'Ankur', 'John')
<class 'tuple'>

In [29]:
# opeartions in tuple
my_tuple.count("Krish")

1

In [30]:
# Indexing
my_tuple[0]

'Krish'

In [31]:
my_tuple[0] = "Ian"

TypeError: 'tuple' object does not support item assignment

In [32]:
list(my_tuple) # tuple to list

['Krish', 'Ankur', 'John']