# Tutorial 10- Python Pandas Tutorials- Part 2

# In Part we are going to learn about

1. StringIO
2. Pandas read_csv

In [1]:
### Reading Different Data sources with the help of pandas
from io import StringIO

In [3]:
#  reading and creating the dataframe
import pandas as pd
df = pd.read_csv('mercedesbenz.csv')

In [4]:
print(df.head())

   ID       y  X0 X1  X2 X3 X4 X5 X6 X8  ...  X375  X376  X377  X378  X379  \
0   0  130.81   k  v  at  a  d  u  j  o  ...     0     0     1     0     0
1   6   88.53   k  t  av  e  d  y  l  o  ...     1     0     0     0     0
2   7   76.26  az  w   n  c  d  x  j  x  ...     0     0     0     0     0
3   9   80.62  az  t   n  f  d  x  l  e  ...     0     0     0     0     0
4  13   78.02  az  v   n  f  d  h  d  n  ...     0     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     1     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 378 columns]

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
# To write the data in string format
data = ('col1,col2,col3\n'
        'a,b,1\n'
        'j,i,2\n'
        'k,l,3')

In [13]:
print(data)

col1,col2,col3
a,b,1
j,i,2
k,l,3

In [14]:
print(type(data))

<class 'str'>

In [15]:
# convert the string into in-memory file format
StringIO(data)

In [16]:
can = pd.read_csv(StringIO(data))

In [17]:
print(can)

  col1 col2  col3
0    a    b     1
1    j    i     2
2    k    l     3

In [18]:
can = pd.read_csv(StringIO(data), usecols = ['col1', 'col2'])

In [19]:
print(can)

  col1 col2
0    a    b
1    j    i
2    k    l

In [20]:
can = pd.read_csv(StringIO(data), usecols = ['col1'])

In [21]:
print(can)

  col1
0    a
1    j
2    k

In [22]:
df = pd.read_csv('mercedesbenz.csv', usecols = ['X0','X1','X2','X3','X4','X5'])

In [23]:
print(df.head())

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [26]:
# convert the dataset into csv file
df.to_csv('mercedesbenz.csv', index = False)

In [27]:
print(df)

      X0 X1  X2 X3 X4  X5
0      k  v  at  a  d   u
1      k  t  av  e  d   y
2     az  w   n  c  d   x
3     az  t   n  f  d   x
4     az  v   n  f  d   h
...   .. ..  .. .. ..  ..
4204  ak  s  as  c  d  aa
4205   j  o   t  d  d  aa
4206  ak  v   r  a  d  aa
4207  al  r   e  f  d  aa
4208   z  r  ae  c  d  aa

[4209 rows x 6 columns]

In [28]:
# datatypes info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X0      4209 non-null   object
 1   X1      4209 non-null   object
 2   X2      4209 non-null   object
 3   X3      4209 non-null   object
 4   X4      4209 non-null   object
 5   X5      4209 non-null   object
dtypes: object(6)
memory usage: 197.4+ KB
None

In [29]:
# Datatypes
data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [30]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [31]:
# convert the data into string io format form
df = pd.read_csv(StringIO(data))

In [32]:
print(df)

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [33]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes
None

In [34]:
# To convert all the datatypes of the columns in object
df = pd.read_csv(StringIO(data), dtype = 'object')

In [35]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes
None

In [36]:
print(df)

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [37]:
# Check for the null values
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [40]:
df['a'][0]

'1'

In [41]:
##datatypes in csv
data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [42]:
df = pd.read_csv(StringIO(data), dtype = {'a':int, 'b':float, 'c': int})

In [43]:
print(df)

   a     b   c    d
0  1   2.0   3  4.0
1  5   6.0   7  8.0
2  9  10.0  11  NaN

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 200.0 bytes
None

In [45]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [46]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [49]:
df = pd.read_csv(StringIO(data), index_col=0)

In [50]:
df

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [57]:
# use index cols and usecols
df = pd.read_csv(StringIO(data), usecols = ['b','c'], index_col = False)

In [58]:
print(df)

     b     c
0  bat   5.7
1  cow  10.0