# Tutorial 10- Python Pandas Tutorials- Part 2
# In Part we are going to learn about

1. StringIO
2. Pandas read_csv

In [1]:
import pandas as pd

In [8]:
import numpy as np

In [14]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index = ["Row1", "Row2", "Row3", "Row4", "Row5"], columns = ["Column1", "Column2", "Column3", "Column4"])
print(df)

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [15]:
print(df.head())

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [16]:
print(df.tail())

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [17]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [18]:
# information about the columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int32
 1   Column2  5 non-null      int32
 2   Column3  5 non-null      int32
 3   Column4  5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes
None

In [19]:
# descriptive information about the dataset
print(df.describe())

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [21]:
# Indexing
df[['Column1', 'Column2', 'Column3']]

      Column1  Column2  Column3
Row1        0        1        2
Row2        4        5        6
Row3        8        9       10
Row4       12       13       14
Row5       16       17       18

In [22]:
df['Column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int32

In [23]:
type(df[['Column1', 'Column2', 'Column3']])

pandas.core.frame.DataFrame

In [24]:
type(df['Column1'])

pandas.core.series.Series

In [25]:
df.loc['Row3']

Column1     8
Column2     9
Column3    10
Column4    11
Name: Row3, dtype: int32

In [27]:
df.loc[['Row1', 'Row3']]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row3        8        9       10       11

In [26]:
type(df.loc['Row3'])

pandas.core.series.Series

In [32]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [33]:
df.iloc[2:4,0:2]

      Column1  Column2
Row3        8        9
Row4       12       13

In [34]:
df.iloc[2:5,1:]

      Column2  Column3  Column4
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [35]:
# convert dataframe to array
df.iloc[2:5,1:].values

array([[ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [36]:
# operations in dataframe

# Checking all the NULL Values in the dataframe
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [38]:
df = pd.DataFrame(data = [[1,np.nan,2],[1,3,4]],index = ["Row1", "Row2"], columns = ["Column1", "Column2", "Column3"])
print(df)

      Column1  Column2  Column3
Row1        1      NaN        2
Row2        1      3.0        4

In [39]:
# Check  NULL Values
print(df.isnull().sum())

Column1    0
Column2    1
Column3    0
dtype: int64

In [44]:
df.isnull().sum()==0

Column1     True
Column2    False
Column3     True
dtype: bool

In [46]:
df['Column3'].value_counts()

2    1
4    1
Name: Column3, dtype: int64

In [47]:
df['Column3'].unique()

array([2, 4], dtype=int64)

In [54]:
df[df['Column1']>=1]

      Column1  Column2  Column3
Row1        1      NaN        2
Row2        1      3.0        4

In [2]:
# Reading the dataset with the heplp of pandas
df = pd.read_csv('mercedesbenz.csv')

In [3]:
print(df)

        ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]

In [4]:
# shape of the dataframe
print(df.shape)

(4209, 378)

In [5]:
# display the top five rows of the dataframe
print(df.head())

   ID       y  X0 X1  X2 X3 X4 X5 X6 X8  ...  X375  X376  X377  X378  X379  \
0   0  130.81   k  v  at  a  d  u  j  o  ...     0     0     1     0     0
1   6   88.53   k  t  av  e  d  y  l  o  ...     1     0     0     0     0
2   7   76.26  az  w   n  c  d  x  j  x  ...     0     0     0     0     0
3   9   80.62  az  t   n  f  d  x  l  e  ...     0     0     0     0     0
4  13   78.02  az  v   n  f  d  h  d  n  ...     0     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     1     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 378 columns]

In [6]:
# display the last five rows of the dataframe
print(df.tail())

        ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[5 rows x 378 columns]